{{#each this}}
<h4 class="card-title text-center height">{{name}}</h4>
<div class="row row-cols-2">
    <div>
        <ul class="card-text fw-normal">
            <li><strong>Capital:</strong> {{capital}}</li>
            <li><strong>Population:</strong> {{population}}</li>
            <li><strong>Languages:</strong>
                <ul class="fw-normal">{{#each languages}}
                    <li class="fst-italic">{{name}}</li>
                    {{/each}}
                </ul>
            </li>
        </ul>
    </div>
    <div>
        <img src="{{flag}}" class="img-thumbnail" alt="flag" />
    </div>
</div>
{{/each}}