{{#each this}}
<li class="item">
    <div class="card project-photo size">
        <img class="photo" src="{{webformatURL}}" alt={{tags}} />
        <div class="d-flex justify-content-center stats">
            <p class="stats-item text-center fw-light">
                <i class="material-icons">thumb_up</i>
                {{likes}}
            </p>
            <p class="stats-item text-center fw-light">
                <i class="material-icons">visibility</i>
                {{views}}
            </p>
            <p class="stats-item text-center fw-light">
                <i class="material-icons">comment</i>
                {{comments}}
            </p>
            <p class="stats-item text-center fw-light">
                <i class="material-icons">cloud_download</i>
                {{downloads}}
            </p>
        </div>
    </div>
</li>
{{/each}}